Package: okemo
Name: Circle-To-Search
Version: 0.1
Architecture: iphoneos-arm64
Description: An awesome MobileSubstrate tweak!
Maintainer: OkemoVail
Author: OkemoVail
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
